<div class="all-holidayRequests-container">
    <div class="header-div">
      <h1>My Holiday Requests</h1>
      <button mat-flat-button class="add-button" (click)="openRequestDialog()" color="primary">
        <mat-icon>add</mat-icon>
        <mat-label>New Holiday Request</mat-label>
      </button> 
    </div>
    <table mat-table [dataSource]="holidayRequests" class="mat-elevation-z6">
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let request">
          <mat-icon [matTooltip]="getStatusString(request.status)" matTooltipPosition="right" class="status-icon" [ngStyle]="{color: getStatusColor(request.status) }" aria-hidden="false" aria-label="Status icon">{{ getStatusIcon(request.status) }}</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="sender">
        <th mat-header-cell *matHeaderCellDef> Sender </th>
        <td mat-cell *matCellDef="let holidayRequest"> {{holidayRequest.sender.name + ' ' + holidayRequest.sender.surname}} </td>
      </ng-container>
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef> Start Date </th>
          <td mat-cell *matCellDef="let holidayRequest"> {{formatDate(holidayRequest.start)}} </td>
        </ng-container>
        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef> End Date </th>
          <td mat-cell *matCellDef="let holidayRequest"> {{formatDate(holidayRequest.end)}} </td>
        </ng-container> 
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let holidayRequest">
             <button mat-icon-button matTooltip="Click to delete" class="iconbutton"  color="warn">
                <mat-icon color="primary">delete</mat-icon>
            </button> 
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <app-paginator [pageNumber]="pageNumber" [totalPages]="totalPages" (loadNewPageEmmiter)="loadNewPage($event)"/>

    <div class="header-div" *ngIf="holidayRequestApprovers.length > 0">
      <h1>Incoming Holiday Requests</h1>
    </div>
    <table mat-table [dataSource]="holidayRequestApprovers" class="mat-elevation-z6" *ngIf="holidayRequestApprovers.length > 0">
      <!-- Sender Column -->
      <ng-container matColumnDef="sender">
        <th mat-header-cell *matHeaderCellDef> Sender </th>
        <td mat-cell *matCellDef="let approver"> 
          {{ getSenderName(approver.requestId) }} 
        </td>
      </ng-container>
  
      <!-- Start Date Column -->
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let approver">
          {{ formatDate(getHolidayRequestStartDate(approver.requestId)) }}
        </td>
      </ng-container>
  
      <!-- End Date Column -->
      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let approver">
          {{ formatDate(getHolidayRequestEndDate(approver.requestId)) }}
        </td>
      </ng-container>
  
      <!-- Approve/Deny Buttons Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let approver">
          <button mat-raised-button class="approve button-w" (click)="approveRequest(approver.id)">Approve</button>
          <button mat-raised-button class="deny button-w" (click)="denyRequest(approver.id)">Deny</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="approverColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: approverColumns;"></tr>
    </table>
  </div>
