<div class="all-projects-container" *ngIf="projects.length > 0">
  <div class="header-div">
    <h1>All projects</h1>
    <button mat-raised-button class="add-button" color="primary" routerLink="/create-project">
      <mat-icon>add</mat-icon>
      <mat-label>New Project</mat-label>
    </button> 
  </div>
  <table mat-table [dataSource]="projects" class="mat-elevation-z6">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let project"> {{project.title}} </td>
      </ng-container>
    
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let project"> {{project.description}} </td>
      </ng-container>
    
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef> Client </th>
        <td mat-cell *matCellDef="let project"> {{project.client.name}} </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef style="text-align:center"> Edit </th>
        <td mat-cell *matCellDef="let project" style="text-align:center">
           <button mat-icon-button matTooltip="Click to view details" class="iconbutton" (click)="editProject(project.id)" color="warn">
              <mat-icon>edit</mat-icon>
          </button> 
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef style="text-align:center"> Delete </th>
        <td mat-cell *matCellDef="let project" style="text-align:center">
           <button mat-icon-button matTooltip="Click to delete" class="iconbutton" (click)="delete(project.id)" color="warn">
              <mat-icon>delete</mat-icon>
          </button> 
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    
  <app-paginator [pageNumber]="pageNumber" [totalPages]="totalPages" (loadNewPageEmmiter)="loadNewPage($event)"/>
</div>
  