<div class="all-projects-container">
  <div class="header-div">
    <h1>All projects</h1>
  </div>
  <table mat-table [dataSource]="projects" class="mat-elevation-z6">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let project"> {{project.title}} </td>
      </ng-container>
    
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let project"> {{project.description}} </td>
      </ng-container>
    
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef> Client </th>
        <td mat-cell *matCellDef="let project"> {{project.client.name}} </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let project">
           <button mat-icon-button matTooltip="Click to view details" class="iconbutton" (click)="viewProject(project.id)" color="warn">
              <mat-icon>info_outline</mat-icon>
          </button> 
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let project">
           <button mat-icon-button matTooltip="Click to delete" class="iconbutton" (click)="delete(project.id)" color="warn">
              <mat-icon>delete</mat-icon>
          </button> 
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    
  <app-paginator [pageNumber]="pageNumber" [totalPages]="totalPages" (loadNewPageEmmiter)="loadNewPage($event)"/>
</div>
  