<div class="reset-password-container">
    <div class="header .full-width">
      <mat-icon class="header-icon">person</mat-icon>
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>New password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Enter your password"
        />
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')"
          >Password is required</mat-error
        >
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Repeated password</mat-label>
        <input
          matInput
          formControlName="repeatedPassword"
          type="password"
          placeholder="Re-Enter your password"
        />
        <mat-error *ngIf="resetPasswordForm.get('repeatedPassword')?.hasError('required')"
          >Enter your password again</mat-error
        >
        <mat-error *ngIf="resetPasswordForm.get('repeatedPassword')?.hasError('notMatching')"
          >Passwords don't match!</mat-error
        >
      </mat-form-field>  
      <button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid">
        Reset password
      </button>
    </form>
  </div>
  
