.all-clients-container{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.header-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

h1{
    color: #5c5b5b;
}
th{
    font-size: 1.2rem;
}
td{
    font-size: 1rem;
}
