<div class="reset-password-container">
    <div class="header .full-width">
      <mat-icon class="header-icon">person</mat-icon>
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Enter your email"
        />
        <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('required')"
          >Email is required</mat-error
        >
        <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('email')"
          >Enter a valid email</mat-error
        >
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        Send Recovery Link
      </button>
    </form>
  </div>
