<div class="edit-employee-container">
    <div class="header .full-width">
        <h3>Edit Employee</h3>
    </div>
    <form [formGroup]="editEmployeeForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="name"
          type="text"
          placeholder="Enter employee's name"
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Surname</mat-label>
        <input
          matInput
          formControlName="surname"
          type="text"
          placeholder="Enter employee's surname"
        />
        <mat-error *ngIf="editEmployeeForm.get('surname')?.hasError('required')"
          >Surname is required</mat-error
        >
      </mat-form-field>  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Select employee's role</mat-label>
        <mat-select formControlName="role">
          <mat-option [value]=0>Developer</mat-option>
          <mat-option [value]=1>Manager</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Days Off</mat-label>
        <input
          matInput
          formControlName="daysOff"
          type="number"
          max="100"
          min="0"
          placeholder="Enter employee's days off"
        />
        <mat-error *ngIf="editEmployeeForm.get('surname')?.hasError('required')"
          >Surname is required</mat-error
        >
      </mat-form-field> 
      <button mat-raised-button color="primary" type="submit">
        Submit
      </button>
    </form>
  </div>
